{%extends 'layout.html'%}

 </style> 
{% block body %}
<style>
  body{
    background-image: url('/static/images/about.png');
 background-size: cover;
  }
  </style>
<div class="jumbotron" style="margin-left: 25px;">
    <h1 class="font">ABOUT ME  </h1>
      <hr>
    <div class="card mb-3" style="max-width: 880px;" >
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="https://images.unsplash.com/photo-1559163387-e46e8dcb27f2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" class="aimg" alt="...">
          </div>
          <div class="col-md-7"></div>
            <div class="card-body">
              <h3 style="font-family: 'Segoe UI'">SANKEERTHAN R N</h3>
              <p class="card-text">I’m Sankeerthan,3rd year student from Amrita University </p>
              <p class="card-text">Developed this blogging site as course of studing flask</p>
                <p>
                <a href="https://www.linkedin.com/in/sankeerthan-r-n-0842811b7/" class="fa fa-linkedin"></a>
                </p> 
            </div>
          </div>
        </div>
      </div>
        



{% endblock %}